body {
  background-color: rgba(0, 0, 0, 1);
  font-family: Cantarell, sans-serif;
  margin-top: 40px;
  margin-left: 10%;
  color: white;
}

.links {
  margin-right: 8px;
  width: 0px;
  color: #888888;
}

a {
  outline: none;
  color: white;
  text-decoration: none;
}

.home {
  margin-top: 6%;
  margin-left: 0%;
}

.images {
  margin-left: -3%;
}

.bio {
  margin-right: 40%;
  line-height: 25px;
}

.heading {
  margin-top: 30px;
  color: #888888;
}

.icons {
  padding: 0 15px 0 0;
}

.works {
  margin-top: 3%;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.pabt {
  margin-left: 40px;
  color: #888888;
  width: 60%;
}

::-webkit-scrollbar {
  display: none;
}

.photos {
  margin-left: 3%;
  margin-top: 3%;
  cursor: pointer;
  border-radius: 10px;
  height: 150px;
}

.photos:hover {
  margin-left: 3%;
  margin-top: 3%;
  cursor: pointer;
  border-radius: 10px;
}

.footer {
  text-align: center;
  padding-bottom: 20px;
  color: #888888;
  padding-top: 50px;
  padding-right: 50px;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}